/*adjustment for screen width and aspect ratio*/
/*adjustment*/
@media (max-width:1920px) {
	/*1920px*/
	.menu a {
		margin:1vh 2.5vh;
		font-size:3.75vh;
		line-height:3.75vh;
	}

	.menu::after {
		width:20vh;
		height:6vh;
		top:2.5vh;
		left:10vh;
	}

	.menu {
		padding:3.75vh 10vh;
	}

	.big_logo {
		top:15vw;
		left:7.5vh;
		width:55vw;
		height:16.5vw;
	}

	.one {
		margin-top:11vh;
	}
}

