/*why_innilabs_animation*/
.why_innilabs_animation {
    width: 49.5vw;
    height: 49.5vw;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.why_innilabs_animation .box {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	position:absolute;
	top:0;
	left:0;
	width: 2.5vw;
    height: 2.5vw;
    opacity:0;
    background-image:url('cube_01.svg');
}
.why_innilabs_animation .box:nth-child(1) {
	background-image:url('map.svg');
	animation:map 30s 0s infinite linear;
    -o-animation:map 30s 0s infinite linear;
    -moz-animation:map 30s 0s infinite linear;
    -webkit-animation:map 30s 0s infinite linear;
    width:49.5vw;
    height:49.5vw;
}
/*layer 1*/
.why_innilabs_animation .box:nth-child(2) {
    animation:cube_1 30s 0s infinite linear;
    -o-animation:cube_1 30s 0s infinite linear;
    -moz-animation:cube_1 30s 0s infinite linear;
    -webkit-animation:cube_1 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(3) {
    animation:cube_2 30s 0s infinite linear;
    -o-animation:cube_2 30s 0s infinite linear;
    -moz-animation:cube_2 30s 0s infinite linear;
    -webkit-animation:cube_2 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(4) {
    animation:cube_3 30s 0s infinite linear;
    -o-animation:cube_3 30s 0s infinite linear;
    -moz-animation:cube_3 30s 0s infinite linear;
    -webkit-animation:cube_3 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(5) {
    animation:cube_4 30s 0s infinite linear;
    -o-animation:cube_4 30s 0s infinite linear;
    -moz-animation:cube_4 30s 0s infinite linear;
    -webkit-animation:cube_4 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(6) {
    animation:cube_5 30s 0s infinite linear;
    -o-animation:cube_5 30s 0s infinite linear;
    -moz-animation:cube_5 30s 0s infinite linear;
    -webkit-animation:cube_5 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(7) {
    animation:cube_6 30s 0s infinite linear;
    -o-animation:cube_6 30s 0s infinite linear;
    -moz-animation:cube_6 30s 0s infinite linear;
    -webkit-animation:cube_6 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(8) {
    animation:cube_7 30s 0s infinite linear;
    -o-animation:cube_7 30s 0s infinite linear;
    -moz-animation:cube_7 30s 0s infinite linear;
    -webkit-animation:cube_7 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(9) {
    animation:cube_8 30s 0s infinite linear;
    -o-animation:cube_8 30s 0s infinite linear;
    -moz-animation:cube_8 30s 0s infinite linear;
    -webkit-animation:cube_8 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(10) {
    animation:cube_9 30s 0s infinite linear;
    -o-animation:cube_9 30s 0s infinite linear;
    -moz-animation:cube_9 30s 0s infinite linear;
    -webkit-animation:cube_9 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(11) {
    animation:cube_10 30s 0s infinite linear;
    -o-animation:cube_10 30s 0s infinite linear;
    -moz-animation:cube_10 30s 0s infinite linear;
    -webkit-animation:cube_10 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(12) {
    animation:cube_11 30s 0s infinite linear;
    -o-animation:cube_11 30s 0s infinite linear;
    -moz-animation:cube_11 30s 0s infinite linear;
    -webkit-animation:cube_11 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(13) {
    animation:cube_12 30s 0s infinite linear;
    -o-animation:cube_12 30s 0s infinite linear;
    -moz-animation:cube_12 30s 0s infinite linear;
    -webkit-animation:cube_12 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(14) {
    animation:cube_13 30s 0s infinite linear;
    -o-animation:cube_13 30s 0s infinite linear;
    -moz-animation:cube_13 30s 0s infinite linear;
    -webkit-animation:cube_13 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(15) {
    animation:cube_14 30s 0s infinite linear;
    -o-animation:cube_14 30s 0s infinite linear;
    -moz-animation:cube_14 30s 0s infinite linear;
    -webkit-animation:cube_14 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(16) {
    background-image:url('cube_03.svg');
    animation:cube_15 30s 0s infinite linear;
    -o-animation:cube_15 30s 0s infinite linear;
    -moz-animation:cube_15 30s 0s infinite linear;
    -webkit-animation:cube_15 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(17) {
    background-image:url('cube_03.svg');
    animation:cube_16 30s 0s infinite linear;
    -o-animation:cube_16 30s 0s infinite linear;
    -moz-animation:cube_16 30s 0s infinite linear;
    -webkit-animation:cube_16 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(18) {
    animation:cube_17 30s 0s infinite linear;
    -o-animation:cube_17 30s 0s infinite linear;
    -moz-animation:cube_17 30s 0s infinite linear;
    -webkit-animation:cube_17 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(19) {
    animation:cube_18 30s 0s infinite linear;
    -o-animation:cube_18 30s 0s infinite linear;
    -moz-animation:cube_18 30s 0s infinite linear;
    -webkit-animation:cube_18 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(20) {
    animation:cube_19 30s 0s infinite linear;
    -o-animation:cube_19 30s 0s infinite linear;
    -moz-animation:cube_19 30s 0s infinite linear;
    -webkit-animation:cube_19 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(21) {
    animation:cube_20 30s 0s infinite linear;
    -o-animation:cube_20 30s 0s infinite linear;
    -moz-animation:cube_20 30s 0s infinite linear;
    -webkit-animation:cube_20 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(22) {
    background-image:url('cube_03.svg');
    animation:cube_21 30s 0s infinite linear;
    -o-animation:cube_21 30s 0s infinite linear;
    -moz-animation:cube_21 30s 0s infinite linear;
    -webkit-animation:cube_21 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(23) {
    background-image:url('cube_03.svg');
    animation:cube_22 30s 0s infinite linear;
    -o-animation:cube_22 30s 0s infinite linear;
    -moz-animation:cube_22 30s 0s infinite linear;
    -webkit-animation:cube_22 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(24) {
    animation:cube_23 30s 0s infinite linear;
    -o-animation:cube_23 30s 0s infinite linear;
    -moz-animation:cube_23 30s 0s infinite linear;
    -webkit-animation:cube_23 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(25) {
    animation:cube_24 30s 0s infinite linear;
    -o-animation:cube_24 30s 0s infinite linear;
    -moz-animation:cube_24 30s 0s infinite linear;
    -webkit-animation:cube_24 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(26) {
    animation:cube_25 30s 0s infinite linear;
    -o-animation:cube_25 30s 0s infinite linear;
    -moz-animation:cube_25 30s 0s infinite linear;
    -webkit-animation:cube_25 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(27) {
    background-image:url('cube_03.svg');
    animation:cube_26 30s 0s infinite linear;
    -o-animation:cube_26 30s 0s infinite linear;
    -moz-animation:cube_26 30s 0s infinite linear;
    -webkit-animation:cube_26 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(28) {
    background-image:url('cube_03.svg');
    animation:cube_27 30s 0s infinite linear;
    -o-animation:cube_27 30s 0s infinite linear;
    -moz-animation:cube_27 30s 0s infinite linear;
    -webkit-animation:cube_27 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(29) {
    animation:cube_28 30s 0s infinite linear;
    -o-animation:cube_28 30s 0s infinite linear;
    -moz-animation:cube_28 30s 0s infinite linear;
    -webkit-animation:cube_28 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(30) {
    animation:cube_29 30s 0s infinite linear;
    -o-animation:cube_29 30s 0s infinite linear;
    -moz-animation:cube_29 30s 0s infinite linear;
    -webkit-animation:cube_29 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(31) {
    background-image:url('cube_03.svg');
    animation:cube_30 30s 0s infinite linear;
    -o-animation:cube_30 30s 0s infinite linear;
    -moz-animation:cube_30 30s 0s infinite linear;
    -webkit-animation:cube_30 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(32) {
    background-image:url('cube_03.svg');
    animation:cube_31 30s 0s infinite linear;
    -o-animation:cube_31 30s 0s infinite linear;
    -moz-animation:cube_31 30s 0s infinite linear;
    -webkit-animation:cube_31 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(33) {
    animation:cube_32 30s 0s infinite linear;
    -o-animation:cube_32 30s 0s infinite linear;
    -moz-animation:cube_32 30s 0s infinite linear;
    -webkit-animation:cube_32 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(34) {
    background-image:url('cube_03.svg');
    animation:cube_33 30s 0s infinite linear;
    -o-animation:cube_33 30s 0s infinite linear;
    -moz-animation:cube_33 30s 0s infinite linear;
    -webkit-animation:cube_33 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(35) {
    background-image:url('cube_03.svg');
    animation:cube_34 30s 0s infinite linear;
    -o-animation:cube_34 30s 0s infinite linear;
    -moz-animation:cube_34 30s 0s infinite linear;
    -webkit-animation:cube_34 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(36) {
    background-image:url('cube_03.svg');
    animation:cube_35 30s 0s infinite linear;
    -o-animation:cube_35 30s 0s infinite linear;
    -moz-animation:cube_35 30s 0s infinite linear;
    -webkit-animation:cube_35 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(37) {
    background-image:url('cube_03.svg');
    animation:cube_36 30s 0s infinite linear;
    -o-animation:cube_36 30s 0s infinite linear;
    -moz-animation:cube_36 30s 0s infinite linear;
    -webkit-animation:cube_36 30s 0s infinite linear;
}

/*layer 2*/
.why_innilabs_animation .box:nth-child(38) {
    animation:cube_37 30s 0s infinite linear;
    -o-animation:cube_37 30s 0s infinite linear;
    -moz-animation:cube_37 30s 0s infinite linear;
    -webkit-animation:cube_37 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(39) {
    animation:cube_38 30s 0s infinite linear;
    -o-animation:cube_38 30s 0s infinite linear;
    -moz-animation:cube_38 30s 0s infinite linear;
    -webkit-animation:cube_38 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(40) {
    animation:cube_39 30s 0s infinite linear;
    -o-animation:cube_39 30s 0s infinite linear;
    -moz-animation:cube_39 30s 0s infinite linear;
    -webkit-animation:cube_39 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(41) {
    animation:cube_40 30s 0s infinite linear;
    -o-animation:cube_40 30s 0s infinite linear;
    -moz-animation:cube_40 30s 0s infinite linear;
    -webkit-animation:cube_40 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(42) {
    animation:cube_41 30s 0s infinite linear;
    -o-animation:cube_41 30s 0s infinite linear;
    -moz-animation:cube_41 30s 0s infinite linear;
    -webkit-animation:cube_41 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(43) {
    animation:cube_42 30s 0s infinite linear;
    -o-animation:cube_42 30s 0s infinite linear;
    -moz-animation:cube_42 30s 0s infinite linear;
    -webkit-animation:cube_42 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(44) {
    animation:cube_43 30s 0s infinite linear;
    -o-animation:cube_43 30s 0s infinite linear;
    -moz-animation:cube_43 30s 0s infinite linear;
    -webkit-animation:cube_43 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(45) {
    animation:cube_44 30s 0s infinite linear;
    -o-animation:cube_44 30s 0s infinite linear;
    -moz-animation:cube_44 30s 0s infinite linear;
    -webkit-animation:cube_44 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(46) {
    animation:cube_45 30s 0s infinite linear;
    -o-animation:cube_45 30s 0s infinite linear;
    -moz-animation:cube_45 30s 0s infinite linear;
    -webkit-animation:cube_45 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(47) {
    animation:cube_46 30s 0s infinite linear;
    -o-animation:cube_46 30s 0s infinite linear;
    -moz-animation:cube_46 30s 0s infinite linear;
    -webkit-animation:cube_46 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(48) {
    animation:cube_47 30s 0s infinite linear;
    -o-animation:cube_47 30s 0s infinite linear;
    -moz-animation:cube_47 30s 0s infinite linear;
    -webkit-animation:cube_47 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(49) {
    animation:cube_48 30s 0s infinite linear;
    -o-animation:cube_48 30s 0s infinite linear;
    -moz-animation:cube_48 30s 0s infinite linear;
    -webkit-animation:cube_48 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(50) {
    animation:cube_49 30s 0s infinite linear;
    -o-animation:cube_49 30s 0s infinite linear;
    -moz-animation:cube_49 30s 0s infinite linear;
    -webkit-animation:cube_49 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(51) {
    animation:cube_50 30s 0s infinite linear;
    -o-animation:cube_50 30s 0s infinite linear;
    -moz-animation:cube_50 30s 0s infinite linear;
    -webkit-animation:cube_50 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(52) {
    animation:cube_51 30s 0s infinite linear;
    -o-animation:cube_51 30s 0s infinite linear;
    -moz-animation:cube_51 30s 0s infinite linear;
    -webkit-animation:cube_51 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(53) {
    background-image:url('cube_03.svg');
    animation:cube_52 30s 0s infinite linear;
    -o-animation:cube_52 30s 0s infinite linear;
    -moz-animation:cube_52 30s 0s infinite linear;
    -webkit-animation:cube_52 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(54) {
    animation:cube_53 30s 0s infinite linear;
    -o-animation:cube_53 30s 0s infinite linear;
    -moz-animation:cube_53 30s 0s infinite linear;
    -webkit-animation:cube_53 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(55) {
    animation:cube_54 30s 0s infinite linear;
    -o-animation:cube_54 30s 0s infinite linear;
    -moz-animation:cube_54 30s 0s infinite linear;
    -webkit-animation:cube_54 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(56) {
    animation:cube_55 30s 0s infinite linear;
    -o-animation:cube_55 30s 0s infinite linear;
    -moz-animation:cube_55 30s 0s infinite linear;
    -webkit-animation:cube_55 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(57) {
    animation:cube_56 30s 0s infinite linear;
    -o-animation:cube_56 30s 0s infinite linear;
    -moz-animation:cube_56 30s 0s infinite linear;
    -webkit-animation:cube_56 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(58) {
    background-image:url('cube_03.svg');
    animation:cube_57 30s 0s infinite linear;
    -o-animation:cube_57 30s 0s infinite linear;
    -moz-animation:cube_57 30s 0s infinite linear;
    -webkit-animation:cube_57 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(59) {
    background-image:url('cube_03.svg');
    animation:cube_58 30s 0s infinite linear;
    -o-animation:cube_58 30s 0s infinite linear;
    -moz-animation:cube_58 30s 0s infinite linear;
    -webkit-animation:cube_58 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(60) {
    animation:cube_59 30s 0s infinite linear;
    -o-animation:cube_59 30s 0s infinite linear;
    -moz-animation:cube_59 30s 0s infinite linear;
    -webkit-animation:cube_59 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(61) {
    animation:cube_60 30s 0s infinite linear;
    -o-animation:cube_60 30s 0s infinite linear;
    -moz-animation:cube_60 30s 0s infinite linear;
    -webkit-animation:cube_60 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(62) {
    animation:cube_61 30s 0s infinite linear;
    -o-animation:cube_61 30s 0s infinite linear;
    -moz-animation:cube_61 30s 0s infinite linear;
    -webkit-animation:cube_61 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(63) {
    background-image:url('cube_03.svg');
    animation:cube_62 30s 0s infinite linear;
    -o-animation:cube_62 30s 0s infinite linear;
    -moz-animation:cube_62 30s 0s infinite linear;
    -webkit-animation:cube_62 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(64) {
    background-image:url('cube_03.svg');
    animation:cube_63 30s 0s infinite linear;
    -o-animation:cube_63 30s 0s infinite linear;
    -moz-animation:cube_63 30s 0s infinite linear;
    -webkit-animation:cube_63 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(65) {
    animation:cube_64 30s 0s infinite linear;
    -o-animation:cube_64 30s 0s infinite linear;
    -moz-animation:cube_64 30s 0s infinite linear;
    -webkit-animation:cube_64 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(66) {
    animation:cube_65 30s 0s infinite linear;
    -o-animation:cube_65 30s 0s infinite linear;
    -moz-animation:cube_65 30s 0s infinite linear;
    -webkit-animation:cube_65 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(67) {
    background-image:url('cube_03.svg');
    animation:cube_66 30s 0s infinite linear;
    -o-animation:cube_66 30s 0s infinite linear;
    -moz-animation:cube_66 30s 0s infinite linear;
    -webkit-animation:cube_66 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(68) {
    background-image:url('cube_03.svg');
    animation:cube_67 30s 0s infinite linear;
    -o-animation:cube_67 30s 0s infinite linear;
    -moz-animation:cube_67 30s 0s infinite linear;
    -webkit-animation:cube_67 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(69) {
    animation:cube_68 30s 0s infinite linear;
    -o-animation:cube_68 30s 0s infinite linear;
    -moz-animation:cube_68 30s 0s infinite linear;
    -webkit-animation:cube_68 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(70) {
    background-image:url('cube_03.svg');
    animation:cube_69 30s 0s infinite linear;
    -o-animation:cube_69 30s 0s infinite linear;
    -moz-animation:cube_69 30s 0s infinite linear;
    -webkit-animation:cube_69 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(71) {
    background-image:url('cube_03.svg');
    animation:cube_70 30s 0s infinite linear;
    -o-animation:cube_70 30s 0s infinite linear;
    -moz-animation:cube_70 30s 0s infinite linear;
    -webkit-animation:cube_70 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(72) {
    background-image:url('cube_03.svg');
    animation:cube_71 30s 0s infinite linear;
    -o-animation:cube_71 30s 0s infinite linear;
    -moz-animation:cube_71 30s 0s infinite linear;
    -webkit-animation:cube_71 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(73) {
    background-image:url('cube_03.svg');
    animation:cube_72 30s 0s infinite linear;
    -o-animation:cube_72 30s 0s infinite linear;
    -moz-animation:cube_72 30s 0s infinite linear;
    -webkit-animation:cube_72 30s 0s infinite linear;
}

/*layer 3*/
.why_innilabs_animation .box:nth-child(74) {
    animation:cube_73 30s 0s infinite linear;
    -o-animation:cube_73 30s 0s infinite linear;
    -moz-animation:cube_73 30s 0s infinite linear;
    -webkit-animation:cube_73 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(75) {
    animation:cube_74 30s 0s infinite linear;
    -o-animation:cube_74 30s 0s infinite linear;
    -moz-animation:cube_74 30s 0s infinite linear;
    -webkit-animation:cube_74 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(76) {
    animation:cube_75 30s 0s infinite linear;
    -o-animation:cube_75 30s 0s infinite linear;
    -moz-animation:cube_75 30s 0s infinite linear;
    -webkit-animation:cube_75 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(77) {
    animation:cube_76 30s 0s infinite linear;
    -o-animation:cube_76 30s 0s infinite linear;
    -moz-animation:cube_76 30s 0s infinite linear;
    -webkit-animation:cube_76 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(78) {
    animation:cube_77 30s 0s infinite linear;
    -o-animation:cube_77 30s 0s infinite linear;
    -moz-animation:cube_77 30s 0s infinite linear;
    -webkit-animation:cube_77 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(79) {
    animation:cube_78 30s 0s infinite linear;
    -o-animation:cube_78 30s 0s infinite linear;
    -moz-animation:cube_78 30s 0s infinite linear;
    -webkit-animation:cube_78 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(80) {
    animation:cube_79 30s 0s infinite linear;
    -o-animation:cube_79 30s 0s infinite linear;
    -moz-animation:cube_79 30s 0s infinite linear;
    -webkit-animation:cube_79 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(81) {
    animation:cube_80 30s 0s infinite linear;
    -o-animation:cube_80 30s 0s infinite linear;
    -moz-animation:cube_80 30s 0s infinite linear;
    -webkit-animation:cube_80 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(82) {
    animation:cube_81 30s 0s infinite linear;
    -o-animation:cube_81 30s 0s infinite linear;
    -moz-animation:cube_81 30s 0s infinite linear;
    -webkit-animation:cube_81 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(83) {
    animation:cube_82 30s 0s infinite linear;
    -o-animation:cube_82 30s 0s infinite linear;
    -moz-animation:cube_82 30s 0s infinite linear;
    -webkit-animation:cube_82 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(84) {
    animation:cube_83 30s 0s infinite linear;
    -o-animation:cube_83 30s 0s infinite linear;
    -moz-animation:cube_83 30s 0s infinite linear;
    -webkit-animation:cube_83 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(85) {
    animation:cube_84 30s 0s infinite linear;
    -o-animation:cube_84 30s 0s infinite linear;
    -moz-animation:cube_84 30s 0s infinite linear;
    -webkit-animation:cube_84 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(86) {
    animation:cube_85 30s 0s infinite linear;
    -o-animation:cube_85 30s 0s infinite linear;
    -moz-animation:cube_85 30s 0s infinite linear;
    -webkit-animation:cube_85 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(87) {
    animation:cube_86 30s 0s infinite linear;
    -o-animation:cube_86 30s 0s infinite linear;
    -moz-animation:cube_86 30s 0s infinite linear;
    -webkit-animation:cube_86 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(88) {
    animation:cube_87 30s 0s infinite linear;
    -o-animation:cube_87 30s 0s infinite linear;
    -moz-animation:cube_87 30s 0s infinite linear;
    -webkit-animation:cube_87 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(89) {
    background-image:url('cube_03.svg');
    animation:cube_88 30s 0s infinite linear;
    -o-animation:cube_88 30s 0s infinite linear;
    -moz-animation:cube_88 30s 0s infinite linear;
    -webkit-animation:cube_88 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(90) {
    animation:cube_89 30s 0s infinite linear;
    -o-animation:cube_89 30s 0s infinite linear;
    -moz-animation:cube_89 30s 0s infinite linear;
    -webkit-animation:cube_89 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(91) {
    animation:cube_90 30s 0s infinite linear;
    -o-animation:cube_90 30s 0s infinite linear;
    -moz-animation:cube_90 30s 0s infinite linear;
    -webkit-animation:cube_90 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(92) {
    animation:cube_91 30s 0s infinite linear;
    -o-animation:cube_91 30s 0s infinite linear;
    -moz-animation:cube_91 30s 0s infinite linear;
    -webkit-animation:cube_91 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(93) {
    animation:cube_92 30s 0s infinite linear;
    -o-animation:cube_92 30s 0s infinite linear;
    -moz-animation:cube_92 30s 0s infinite linear;
    -webkit-animation:cube_92 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(94) {
    background-image:url('cube_03.svg');
    animation:cube_93 30s 0s infinite linear;
    -o-animation:cube_93 30s 0s infinite linear;
    -moz-animation:cube_93 30s 0s infinite linear;
    -webkit-animation:cube_93 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(95) {
    background-image:url('cube_03.svg');
    animation:cube_94 30s 0s infinite linear;
    -o-animation:cube_94 30s 0s infinite linear;
    -moz-animation:cube_94 30s 0s infinite linear;
    -webkit-animation:cube_94 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(96) {
    animation:cube_95 30s 0s infinite linear;
    -o-animation:cube_95 30s 0s infinite linear;
    -moz-animation:cube_95 30s 0s infinite linear;
    -webkit-animation:cube_95 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(97) {
    animation:cube_96 30s 0s infinite linear;
    -o-animation:cube_96 30s 0s infinite linear;
    -moz-animation:cube_96 30s 0s infinite linear;
    -webkit-animation:cube_96 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(98) {
    animation:cube_97 30s 0s infinite linear;
    -o-animation:cube_97 30s 0s infinite linear;
    -moz-animation:cube_97 30s 0s infinite linear;
    -webkit-animation:cube_97 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(99) {
    background-image:url('cube_03.svg');
    animation:cube_98 30s 0s infinite linear;
    -o-animation:cube_98 30s 0s infinite linear;
    -moz-animation:cube_98 30s 0s infinite linear;
    -webkit-animation:cube_98 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(100) {
    background-image:url('cube_03.svg');
    animation:cube_99 30s 0s infinite linear;
    -o-animation:cube_99 30s 0s infinite linear;
    -moz-animation:cube_99 30s 0s infinite linear;
    -webkit-animation:cube_99 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(101) {
    animation:cube_100 30s 0s infinite linear;
    -o-animation:cube_100 30s 0s infinite linear;
    -moz-animation:cube_100 30s 0s infinite linear;
    -webkit-animation:cube_100 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(102) {
    animation:cube_101 30s 0s infinite linear;
    -o-animation:cube_101 30s 0s infinite linear;
    -moz-animation:cube_101 30s 0s infinite linear;
    -webkit-animation:cube_101 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(103) {
    background-image:url('cube_03.svg');
    animation:cube_102 30s 0s infinite linear;
    -o-animation:cube_102 30s 0s infinite linear;
    -moz-animation:cube_102 30s 0s infinite linear;
    -webkit-animation:cube_102 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(104) {
    background-image:url('cube_03.svg');
    animation:cube_103 30s 0s infinite linear;
    -o-animation:cube_103 30s 0s infinite linear;
    -moz-animation:cube_103 30s 0s infinite linear;
    -webkit-animation:cube_103 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(105) {
    animation:cube_104 30s 0s infinite linear;
    -o-animation:cube_104 30s 0s infinite linear;
    -moz-animation:cube_104 30s 0s infinite linear;
    -webkit-animation:cube_104 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(106) {
    background-image:url('cube_03.svg');
    animation:cube_105 30s 0s infinite linear;
    -o-animation:cube_105 30s 0s infinite linear;
    -moz-animation:cube_105 30s 0s infinite linear;
    -webkit-animation:cube_105 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(107) {
    background-image:url('cube_03.svg');
    animation:cube_106 30s 0s infinite linear;
    -o-animation:cube_106 30s 0s infinite linear;
    -moz-animation:cube_106 30s 0s infinite linear;
    -webkit-animation:cube_106 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(108) {
    background-image:url('cube_03.svg');
    animation:cube_107 30s 0s infinite linear;
    -o-animation:cube_107 30s 0s infinite linear;
    -moz-animation:cube_107 30s 0s infinite linear;
    -webkit-animation:cube_107 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(109) {
    background-image:url('cube_03.svg');
    animation:cube_108 30s 0s infinite linear;
    -o-animation:cube_108 30s 0s infinite linear;
    -moz-animation:cube_108 30s 0s infinite linear;
    -webkit-animation:cube_108 30s 0s infinite linear;
}

/*layer 4*/
.why_innilabs_animation .box:nth-child(110) {
    animation:cube_109 30s 0s infinite linear;
    -o-animation:cube_109 30s 0s infinite linear;
    -moz-animation:cube_109 30s 0s infinite linear;
    -webkit-animation:cube_109 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(111) {
    animation:cube_110 30s 0s infinite linear;
    -o-animation:cube_110 30s 0s infinite linear;
    -moz-animation:cube_110 30s 0s infinite linear;
    -webkit-animation:cube_110 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(112) {
    animation:cube_111 30s 0s infinite linear;
    -o-animation:cube_111 30s 0s infinite linear;
    -moz-animation:cube_111 30s 0s infinite linear;
    -webkit-animation:cube_111 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(113) {
    animation:cube_112 30s 0s infinite linear;
    -o-animation:cube_112 30s 0s infinite linear;
    -moz-animation:cube_112 30s 0s infinite linear;
    -webkit-animation:cube_112 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(114) {
    animation:cube_113 30s 0s infinite linear;
    -o-animation:cube_113 30s 0s infinite linear;
    -moz-animation:cube_113 30s 0s infinite linear;
    -webkit-animation:cube_113 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(115) {
    animation:cube_114 30s 0s infinite linear;
    -o-animation:cube_114 30s 0s infinite linear;
    -moz-animation:cube_114 30s 0s infinite linear;
    -webkit-animation:cube_114 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(116) {
    animation:cube_115 30s 0s infinite linear;
    -o-animation:cube_115 30s 0s infinite linear;
    -moz-animation:cube_115 30s 0s infinite linear;
    -webkit-animation:cube_115 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(117) {
    animation:cube_116 30s 0s infinite linear;
    -o-animation:cube_116 30s 0s infinite linear;
    -moz-animation:cube_116 30s 0s infinite linear;
    -webkit-animation:cube_116 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(118) {
    animation:cube_117 30s 0s infinite linear;
    -o-animation:cube_117 30s 0s infinite linear;
    -moz-animation:cube_117 30s 0s infinite linear;
    -webkit-animation:cube_117 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(119) {
    animation:cube_118 30s 0s infinite linear;
    -o-animation:cube_118 30s 0s infinite linear;
    -moz-animation:cube_118 30s 0s infinite linear;
    -webkit-animation:cube_118 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(120) {
    animation:cube_119 30s 0s infinite linear;
    -o-animation:cube_119 30s 0s infinite linear;
    -moz-animation:cube_119 30s 0s infinite linear;
    -webkit-animation:cube_119 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(121) {
    animation:cube_120 30s 0s infinite linear;
    -o-animation:cube_120 30s 0s infinite linear;
    -moz-animation:cube_120 30s 0s infinite linear;
    -webkit-animation:cube_120 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(122) {
    animation:cube_121 30s 0s infinite linear;
    -o-animation:cube_121 30s 0s infinite linear;
    -moz-animation:cube_121 30s 0s infinite linear;
    -webkit-animation:cube_121 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(123) {
    animation:cube_122 30s 0s infinite linear;
    -o-animation:cube_122 30s 0s infinite linear;
    -moz-animation:cube_122 30s 0s infinite linear;
    -webkit-animation:cube_122 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(124) {
    animation:cube_123 30s 0s infinite linear;
    -o-animation:cube_123 30s 0s infinite linear;
    -moz-animation:cube_123 30s 0s infinite linear;
    -webkit-animation:cube_123 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(125) {
    background-image:url('cube_03.svg');
    animation:cube_124 30s 0s infinite linear;
    -o-animation:cube_124 30s 0s infinite linear;
    -moz-animation:cube_124 30s 0s infinite linear;
    -webkit-animation:cube_124 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(126) {
    animation:cube_125 30s 0s infinite linear;
    -o-animation:cube_125 30s 0s infinite linear;
    -moz-animation:cube_125 30s 0s infinite linear;
    -webkit-animation:cube_125 30s 0s infinite linear;
}
.why_innilabs_animation .box:nth-child(127) {
    animation:cube_126 30s 0s infinite linear;
    -o-animation:cube_126 30s 0s infinite linear;
    -moz-animation:cube_126 30s 0s infinite linear;
    -webkit-animation:cube_126 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(128) {
    animation:cube_127 30s 0s infinite linear;
    -o-animation:cube_127 30s 0s infinite linear;
    -moz-animation:cube_127 30s 0s infinite linear;
    -webkit-animation:cube_127 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(129) {
    animation:cube_128 30s 0s infinite linear;
    -o-animation:cube_128 30s 0s infinite linear;
    -moz-animation:cube_128 30s 0s infinite linear;
    -webkit-animation:cube_128 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(130) {
    background-image:url('cube_03.svg');
    animation:cube_129 30s 0s infinite linear;
    -o-animation:cube_129 30s 0s infinite linear;
    -moz-animation:cube_129 30s 0s infinite linear;
    -webkit-animation:cube_129 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(131) {
    background-image:url('cube_03.svg');
    animation:cube_130 30s 0s infinite linear;
    -o-animation:cube_130 30s 0s infinite linear;
    -moz-animation:cube_130 30s 0s infinite linear;
    -webkit-animation:cube_130 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(132) {
    animation:cube_131 30s 0s infinite linear;
    -o-animation:cube_131 30s 0s infinite linear;
    -moz-animation:cube_131 30s 0s infinite linear;
    -webkit-animation:cube_131 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(133) {
    animation:cube_132 30s 0s infinite linear;
    -o-animation:cube_132 30s 0s infinite linear;
    -moz-animation:cube_132 30s 0s infinite linear;
    -webkit-animation:cube_132 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(134) {
    animation:cube_133 30s 0s infinite linear;
    -o-animation:cube_133 30s 0s infinite linear;
    -moz-animation:cube_133 30s 0s infinite linear;
    -webkit-animation:cube_133 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(135) {
    background-image:url('cube_03.svg');
    animation:cube_134 30s 0s infinite linear;
    -o-animation:cube_134 30s 0s infinite linear;
    -moz-animation:cube_134 30s 0s infinite linear;
    -webkit-animation:cube_134 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(136) {
    background-image:url('cube_03.svg');
    animation:cube_135 30s 0s infinite linear;
    -o-animation:cube_135 30s 0s infinite linear;
    -moz-animation:cube_135 30s 0s infinite linear;
    -webkit-animation:cube_135 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(137) {
    animation:cube_136 30s 0s infinite linear;
    -o-animation:cube_136 30s 0s infinite linear;
    -moz-animation:cube_136 30s 0s infinite linear;
    -webkit-animation:cube_136 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(138) {
    animation:cube_137 30s 0s infinite linear;
    -o-animation:cube_137 30s 0s infinite linear;
    -moz-animation:cube_137 30s 0s infinite linear;
    -webkit-animation:cube_137 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(139) {
    background-image:url('cube_03.svg');
    animation:cube_138 30s 0s infinite linear;
    -o-animation:cube_138 30s 0s infinite linear;
    -moz-animation:cube_138 30s 0s infinite linear;
    -webkit-animation:cube_138 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(140) {
    background-image:url('cube_03.svg');
    animation:cube_139 30s 0s infinite linear;
    -o-animation:cube_139 30s 0s infinite linear;
    -moz-animation:cube_139 30s 0s infinite linear;
    -webkit-animation:cube_139 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(141) {
    animation:cube_140 30s 0s infinite linear;
    -o-animation:cube_140 30s 0s infinite linear;
    -moz-animation:cube_140 30s 0s infinite linear;
    -webkit-animation:cube_140 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(142) {
    background-image:url('cube_03.svg');
    animation:cube_141 30s 0s infinite linear;
    -o-animation:cube_141 30s 0s infinite linear;
    -moz-animation:cube_141 30s 0s infinite linear;
    -webkit-animation:cube_141 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(143) {
    background-image:url('cube_03.svg');
    animation:cube_142 30s 0s infinite linear;
    -o-animation:cube_142 30s 0s infinite linear;
    -moz-animation:cube_142 30s 0s infinite linear;
    -webkit-animation:cube_142 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(144) {
    background-image:url('cube_03.svg');
    animation:cube_143 30s 0s infinite linear;
    -o-animation:cube_143 30s 0s infinite linear;
    -moz-animation:cube_143 30s 0s infinite linear;
    -webkit-animation:cube_143 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(145) {
    background-image:url('cube_03.svg');
    animation:cube_144 30s 0s infinite linear;
    -o-animation:cube_144 30s 0s infinite linear;
    -moz-animation:cube_144 30s 0s infinite linear;
    -webkit-animation:cube_144 30s 0s infinite linear;
}

/*layer 5 */
.why_innilabs_animation .box:nth-child(146) {
    animation:cube_145 30s 0s infinite ease-in;
    -o-animation:cube_145 30s 0s infinite ease-in;
    -moz-animation:cube_145 30s 0s infinite ease-in;
    -webkit-animation:cube_145 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(147) {
    animation:cube_146 30s 0s infinite ease-in;
    -o-animation:cube_146 30s 0s infinite ease-in;
    -moz-animation:cube_146 30s 0s infinite ease-in;
    -webkit-animation:cube_146 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(148) {
    animation:cube_147 30s 0s infinite ease-in;
    -o-animation:cube_147 30s 0s infinite ease-in;
    -moz-animation:cube_147 30s 0s infinite ease-in;
    -webkit-animation:cube_147 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(149) {
    animation:cube_148 30s 0s infinite ease-in;
    -o-animation:cube_148 30s 0s infinite ease-in;
    -moz-animation:cube_148 30s 0s infinite ease-in;
    -webkit-animation:cube_148 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(150) {
    animation:cube_149 30s 0s infinite ease-in;
    -o-animation:cube_149 30s 0s infinite ease-in;
    -moz-animation:cube_149 30s 0s infinite ease-in;
    -webkit-animation:cube_149 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(151) {
    animation:cube_150 30s 0s infinite ease-in;
    -o-animation:cube_150 30s 0s infinite ease-in;
    -moz-animation:cube_150 30s 0s infinite ease-in;
    -webkit-animation:cube_150 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(152) {
    animation:cube_151 30s 0s infinite ease-in;
    -o-animation:cube_151 30s 0s infinite ease-in;
    -moz-animation:cube_151 30s 0s infinite ease-in;
    -webkit-animation:cube_151 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(153) {
    animation:cube_152 30s 0s infinite ease-in;
    -o-animation:cube_152 30s 0s infinite ease-in;
    -moz-animation:cube_152 30s 0s infinite ease-in;
    -webkit-animation:cube_152 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(154) {
    animation:cube_153 30s 0s infinite ease-in;
    -o-animation:cube_153 30s 0s infinite ease-in;
    -moz-animation:cube_153 30s 0s infinite ease-in;
    -webkit-animation:cube_153 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(155) {
    animation:cube_154 30s 0s infinite ease-in;
    -o-animation:cube_154 30s 0s infinite ease-in;
    -moz-animation:cube_154 30s 0s infinite ease-in;
    -webkit-animation:cube_154 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(156) {
    animation:cube_155 30s 0s infinite ease-in;
    -o-animation:cube_155 30s 0s infinite ease-in;
    -moz-animation:cube_155 30s 0s infinite ease-in;
    -webkit-animation:cube_155 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(157) {
    animation:cube_156 30s 0s infinite ease-in;
    -o-animation:cube_156 30s 0s infinite ease-in;
    -moz-animation:cube_156 30s 0s infinite ease-in;
    -webkit-animation:cube_156 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(158) {
    animation:cube_157 30s 0s infinite ease-in;
    -o-animation:cube_157 30s 0s infinite ease-in;
    -moz-animation:cube_157 30s 0s infinite ease-in;
    -webkit-animation:cube_157 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(159) {
    animation:cube_158 30s 0s infinite ease-in;
    -o-animation:cube_158 30s 0s infinite ease-in;
    -moz-animation:cube_158 30s 0s infinite ease-in;
    -webkit-animation:cube_158 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(160) {
    animation:cube_159 30s 0s infinite ease-in;
    -o-animation:cube_159 30s 0s infinite ease-in;
    -moz-animation:cube_159 30s 0s infinite ease-in;
    -webkit-animation:cube_159 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(161) {
    animation:cube_160 30s 0s infinite ease-in;
    -o-animation:cube_160 30s 0s infinite ease-in;
    -moz-animation:cube_160 30s 0s infinite ease-in;
    -webkit-animation:cube_160 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(162) {
    animation:cube_161 30s 0s infinite ease-in;
    -o-animation:cube_161 30s 0s infinite ease-in;
    -moz-animation:cube_161 30s 0s infinite ease-in;
    -webkit-animation:cube_161 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(163) {
    animation:cube_162 30s 0s infinite ease-in;
    -o-animation:cube_162 30s 0s infinite ease-in;
    -moz-animation:cube_162 30s 0s infinite ease-in;
    -webkit-animation:cube_162 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(164) {
    animation:cube_163 30s 0s infinite ease-in;
    -o-animation:cube_163 30s 0s infinite ease-in;
    -moz-animation:cube_163 30s 0s infinite ease-in;
    -webkit-animation:cube_163 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(165) {
    animation:cube_164 30s 0s infinite ease-in;
    -o-animation:cube_164 30s 0s infinite ease-in;
    -moz-animation:cube_164 30s 0s infinite ease-in;
    -webkit-animation:cube_164 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(166) {
    animation:cube_165 30s 0s infinite ease-in;
    -o-animation:cube_165 30s 0s infinite ease-in;
    -moz-animation:cube_165 30s 0s infinite ease-in;
    -webkit-animation:cube_165 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(167) {
    animation:cube_166 30s 0s infinite ease-in;
    -o-animation:cube_166 30s 0s infinite ease-in;
    -moz-animation:cube_166 30s 0s infinite ease-in;
    -webkit-animation:cube_166 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(168) {
    animation:cube_167 30s 0s infinite ease-in;
    -o-animation:cube_167 30s 0s infinite ease-in;
    -moz-animation:cube_167 30s 0s infinite ease-in;
    -webkit-animation:cube_167 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(169) {
    animation:cube_168 30s 0s infinite ease-in;
    -o-animation:cube_168 30s 0s infinite ease-in;
    -moz-animation:cube_168 30s 0s infinite ease-in;
    -webkit-animation:cube_168 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(170) {
    animation:cube_169 30s 0s infinite ease-in;
    -o-animation:cube_169 30s 0s infinite ease-in;
    -moz-animation:cube_169 30s 0s infinite ease-in;
    -webkit-animation:cube_169 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(171) {
    animation:cube_170 30s 0s infinite ease-in;
    -o-animation:cube_170 30s 0s infinite ease-in;
    -moz-animation:cube_170 30s 0s infinite ease-in;
    -webkit-animation:cube_170 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(172) {
    animation:cube_171 30s 0s infinite ease-in;
    -o-animation:cube_171 30s 0s infinite ease-in;
    -moz-animation:cube_171 30s 0s infinite ease-in;
    -webkit-animation:cube_171 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(173) {
    animation:cube_172 30s 0s infinite ease-in;
    -o-animation:cube_172 30s 0s infinite ease-in;
    -moz-animation:cube_172 30s 0s infinite ease-in;
    -webkit-animation:cube_172 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(174) {
    animation:cube_173 30s 0s infinite ease-in;
    -o-animation:cube_173 30s 0s infinite ease-in;
    -moz-animation:cube_173 30s 0s infinite ease-in;
    -webkit-animation:cube_173 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(175) {
    animation:cube_174 30s 0s infinite ease-in;
    -o-animation:cube_174 30s 0s infinite ease-in;
    -moz-animation:cube_174 30s 0s infinite ease-in;
    -webkit-animation:cube_174 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(176) {
    animation:cube_175 30s 0s infinite ease-in;
    -o-animation:cube_175 30s 0s infinite ease-in;
    -moz-animation:cube_175 30s 0s infinite ease-in;
    -webkit-animation:cube_175 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(177) {
    animation:cube_176 30s 0s infinite ease-in;
    -o-animation:cube_176 30s 0s infinite ease-in;
    -moz-animation:cube_176 30s 0s infinite ease-in;
    -webkit-animation:cube_176 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(178) {
    animation:cube_177 30s 0s infinite ease-in;
    -o-animation:cube_177 30s 0s infinite ease-in;
    -moz-animation:cube_177 30s 0s infinite ease-in;
    -webkit-animation:cube_177 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(179) {
    animation:cube_178 30s 0s infinite ease-in;
    -o-animation:cube_178 30s 0s infinite ease-in;
    -moz-animation:cube_178 30s 0s infinite ease-in;
    -webkit-animation:cube_178 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(180) {
    animation:cube_179 30s 0s infinite ease-in;
    -o-animation:cube_179 30s 0s infinite ease-in;
    -moz-animation:cube_179 30s 0s infinite ease-in;
    -webkit-animation:cube_179 30s 0s infinite ease-in;
}

.why_innilabs_animation .box:nth-child(181) {
    animation:cube_180 30s 0s infinite ease-in;
    -o-animation:cube_180 30s 0s infinite ease-in;
    -moz-animation:cube_180 30s 0s infinite ease-in;
    -webkit-animation:cube_180 30s 0s infinite ease-in;
}

/*layer 6*/
.why_innilabs_animation .box:nth-child(182) {
    background-image:url('cube_02.svg');
    animation:cube_181 30s 0s infinite linear;
    -o-animation:cube_181 30s 0s infinite linear;
    -moz-animation:cube_181 30s 0s infinite linear;
    -webkit-animation:cube_181 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(183) {
    background-image:url('cube_02.svg');
    animation:cube_182 30s 0s infinite linear;
    -o-animation:cube_182 30s 0s infinite linear;
    -moz-animation:cube_182 30s 0s infinite linear;
    -webkit-animation:cube_182 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(184) {
    background-image:url('cube_02.svg');
    animation:cube_183 30s 0s infinite linear;
    -o-animation:cube_183 30s 0s infinite linear;
    -moz-animation:cube_183 30s 0s infinite linear;
    -webkit-animation:cube_183 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(185) {
    background-image:url('cube_02.svg');
    animation:cube_184 30s 0s infinite linear;
    -o-animation:cube_184 30s 0s infinite linear;
    -moz-animation:cube_184 30s 0s infinite linear;
    -webkit-animation:cube_184 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(186) {
    background-image:url('cube_02.svg');
    animation:cube_185 30s 0s infinite linear;
    -o-animation:cube_185 30s 0s infinite linear;
    -moz-animation:cube_185 30s 0s infinite linear;
    -webkit-animation:cube_185 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(187) {
    background-image:url('cube_02.svg');
    animation:cube_186 30s 0s infinite linear;
    -o-animation:cube_186 30s 0s infinite linear;
    -moz-animation:cube_186 30s 0s infinite linear;
    -webkit-animation:cube_186 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(188) {
    background-image:url('cube_02.svg');
    animation:cube_187 30s 0s infinite linear;
    -o-animation:cube_187 30s 0s infinite linear;
    -moz-animation:cube_187 30s 0s infinite linear;
    -webkit-animation:cube_187 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(189) {
    background-image:url('cube_02.svg');
    animation:cube_188 30s 0s infinite linear;
    -o-animation:cube_188 30s 0s infinite linear;
    -moz-animation:cube_188 30s 0s infinite linear;
    -webkit-animation:cube_188 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(190) {
    background-image:url('cube_02.svg');
    animation:cube_189 30s 0s infinite linear;
    -o-animation:cube_189 30s 0s infinite linear;
    -moz-animation:cube_189 30s 0s infinite linear;
    -webkit-animation:cube_189 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(191) {
    background-image:url('cube_00.svg');
    animation:cube_190 30s 0s infinite linear;
    -o-animation:cube_190 30s 0s infinite linear;
    -moz-animation:cube_190 30s 0s infinite linear;
    -webkit-animation:cube_190 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(192) {
    background-image:url('cube_02.svg');
    animation:cube_191 30s 0s infinite linear;
    -o-animation:cube_191 30s 0s infinite linear;
    -moz-animation:cube_191 30s 0s infinite linear;
    -webkit-animation:cube_191 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(193) {
    background-image:url('cube_02.svg');
    animation:cube_192 30s 0s infinite linear;
    -o-animation:cube_192 30s 0s infinite linear;
    -moz-animation:cube_192 30s 0s infinite linear;
    -webkit-animation:cube_192 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(194) {
    background-image:url('cube_02.svg');
    animation:cube_193 30s 0s infinite linear;
    -o-animation:cube_193 30s 0s infinite linear;
    -moz-animation:cube_193 30s 0s infinite linear;
    -webkit-animation:cube_193 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(195) {
    background-image:url('cube_00.svg');
    animation:cube_194 30s 0s infinite linear;
    -o-animation:cube_194 30s 0s infinite linear;
    -moz-animation:cube_194 30s 0s infinite linear;
    -webkit-animation:cube_194 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(196) {
    background-image:url('cube_00.svg');
    animation:cube_195 30s 0s infinite linear;
    -o-animation:cube_195 30s 0s infinite linear;
    -moz-animation:cube_195 30s 0s infinite linear;
    -webkit-animation:cube_195 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(197) {
    background-image:url('cube_02.svg');
    animation:cube_196 30s 0s infinite linear;
    -o-animation:cube_196 30s 0s infinite linear;
    -moz-animation:cube_196 30s 0s infinite linear;
    -webkit-animation:cube_196 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(198) {
    background-image:url('cube_02.svg');
    animation:cube_197 30s 0s infinite linear;
    -o-animation:cube_197 30s 0s infinite linear;
    -moz-animation:cube_197 30s 0s infinite linear;
    -webkit-animation:cube_197 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(199) {
    background-image:url('cube_02.svg');
    animation:cube_198 30s 0s infinite linear;
    -o-animation:cube_198 30s 0s infinite linear;
    -moz-animation:cube_198 30s 0s infinite linear;
    -webkit-animation:cube_198 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(200) {
    background-image:url('cube_00.svg');
    animation:cube_199 30s 0s infinite linear;
    -o-animation:cube_199 30s 0s infinite linear;
    -moz-animation:cube_199 30s 0s infinite linear;
    -webkit-animation:cube_199 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(201) {
    background-image:url('cube_00.svg');
    animation:cube_200 30s 0s infinite linear;
    -o-animation:cube_200 30s 0s infinite linear;
    -moz-animation:cube_200 30s 0s infinite linear;
    -webkit-animation:cube_200 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(202) {
    background-image:url('cube_00.svg');
    animation:cube_201 30s 0s infinite linear;
    -o-animation:cube_201 30s 0s infinite linear;
    -moz-animation:cube_201 30s 0s infinite linear;
    -webkit-animation:cube_201 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(203) {
    background-image:url('cube_02.svg');
    animation:cube_202 30s 0s infinite linear;
    -o-animation:cube_202 30s 0s infinite linear;
    -moz-animation:cube_202 30s 0s infinite linear;
    -webkit-animation:cube_202 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(204) {
    background-image:url('cube_02.svg');
    animation:cube_203 30s 0s infinite linear;
    -o-animation:cube_203 30s 0s infinite linear;
    -moz-animation:cube_203 30s 0s infinite linear;
    -webkit-animation:cube_203 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(205) {
    background-image:url('cube_00.svg');
    animation:cube_204 30s 0s infinite linear;
    -o-animation:cube_204 30s 0s infinite linear;
    -moz-animation:cube_204 30s 0s infinite linear;
    -webkit-animation:cube_204 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(206) {
    background-image:url('cube_00.svg');
    animation:cube_205 30s 0s infinite linear;
    -o-animation:cube_205 30s 0s infinite linear;
    -moz-animation:cube_205 30s 0s infinite linear;
    -webkit-animation:cube_205 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(207) {
    background-image:url('cube_00.svg');
    animation:cube_206 30s 0s infinite linear;
    -o-animation:cube_206 30s 0s infinite linear;
    -moz-animation:cube_206 30s 0s infinite linear;
    -webkit-animation:cube_206 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(208) {
    background-image:url('cube_02.svg');
    animation:cube_207 30s 0s infinite linear;
    -o-animation:cube_207 30s 0s infinite linear;
    -moz-animation:cube_207 30s 0s infinite linear;
    -webkit-animation:cube_207 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(209) {
    background-image:url('cube_00.svg');
    animation:cube_208 30s 0s infinite linear;
    -o-animation:cube_208 30s 0s infinite linear;
    -moz-animation:cube_208 30s 0s infinite linear;
    -webkit-animation:cube_208 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(210) {
    background-image:url('cube_00.svg');
    animation:cube_209 30s 0s infinite linear;
    -o-animation:cube_209 30s 0s infinite linear;
    -moz-animation:cube_209 30s 0s infinite linear;
    -webkit-animation:cube_209 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(211) {
    background-image:url('cube_00.svg');
    animation:cube_210 30s 0s infinite linear;
    -o-animation:cube_210 30s 0s infinite linear;
    -moz-animation:cube_210 30s 0s infinite linear;
    -webkit-animation:cube_210 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(212) {
    background-image:url('cube_00.svg');
    animation:cube_211 30s 0s infinite linear;
    -o-animation:cube_211 30s 0s infinite linear;
    -moz-animation:cube_211 30s 0s infinite linear;
    -webkit-animation:cube_211 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(213) {
    background-image:url('cube_00.svg');
    animation:cube_212 30s 0s infinite linear;
    -o-animation:cube_212 30s 0s infinite linear;
    -moz-animation:cube_212 30s 0s infinite linear;
    -webkit-animation:cube_212 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(214) {
    background-image:url('cube_00.svg');
    animation:cube_213 30s 0s infinite linear;
    -o-animation:cube_213 30s 0s infinite linear;
    -moz-animation:cube_213 30s 0s infinite linear;
    -webkit-animation:cube_213 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(215) {
    background-image:url('cube_00.svg');
    animation:cube_214 30s 0s infinite linear;
    -o-animation:cube_214 30s 0s infinite linear;
    -moz-animation:cube_214 30s 0s infinite linear;
    -webkit-animation:cube_214 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(216) {
    background-image:url('cube_00.svg');
    animation:cube_215 30s 0s infinite linear;
    -o-animation:cube_215 30s 0s infinite linear;
    -moz-animation:cube_215 30s 0s infinite linear;
    -webkit-animation:cube_215 30s 0s infinite linear;
}

.why_innilabs_animation .box:nth-child(217) {
    background-image:url('cube_00.svg');
    animation:cube_216 30s 0s infinite linear;
    -o-animation:cube_216 30s 0s infinite linear;
    -moz-animation:cube_216 30s 0s infinite linear;
    -webkit-animation:cube_216 30s 0s infinite linear;
}