html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


a.active {
  font-weight: 800;
}

html, body, h1, h2, h3, h4, h5, h6, p, span, div, a, button {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell;
}

.focus-point {
  font-family: "";
}

.text-deepblue {
  color: #334162;
}

.text-lightblue {
  color: #46ADC5;
}

.text-dark {
  color: #4D4D4D;
}

.text-orange {
  color: #F18F00;
}

.text-yellow {
  color: #D4D41C;
}

.text-chalk {
  font-family: 'rubik_distressedregular';
}

.bg-lightblue {
  background-color: #46ADC5;
}

.bg-thinblue {
  background-color: #F7FCFD;
}

.bg-thinorange {
  background-color: #FDFBF2;
}

.bg-thinred {
  background-color: #FCF3F3;
}

.btn.btn-lightblue {
  color: #ffffff;
  background-color: #46ADC5;
}

.btn.btn-lightblue svg path {
  fill: #ffffff;
}

.btn.btn-lightblue:hover, .btn.btn-lightblue:hover svg path, .btn.btn-lightblue:active, .btn.btn-lightblue:active svg path, .btn.btn-lightblue:focus, .btn.btn-lightblue:focus svg path, .btn.btn-lightblue.active, .btn.btn-lightblue.active svg path {
  fill: #46ADC5!important;
  color: #46ADC5;
  background-color: transparent;
  border: 0.5px solid #46ADC5;
}

.btn.btn-lightblue-outline {
  color: #46ADC5;
  background-color: #fff;
  border: 0.5px solid #46ADC5;
}

.btn.btn-lightblue-outline svg path {
  fill: #46ADC5;
}

.btn.btn-lightblue-outline:hover, .btn.btn-lightblue-outline:hover svg path, .btn.btn-lightblue-outline:active, .btn.btn-lightblue-outline:active svg path, .btn.btn-lightblue-outline:focus, .btn.btn-lightblue-outline:focus svg path, .btn.btn-lightblue-outline.active, .btn.btn-lightblue-outline.active svg path {
  fill: #ffffff!important;
  color: #ffffff;
  background-color: #46ADC5;
}

#about {
  border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%; 
  padding-bottom: 12rem;
}

#whoWeAre {
  padding: 3rem; 
  background-image: url('../img/oval-dashes.png'); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
}

#whatWeHave, #mainFocuses {
  transform: translateY(-100%);
}

div#heroText:has(#mainFocuses) {
  margin-top: 7rem;
}

@media (min-width: 992px) { 
  #topNavbar {
    height: 120px;
  }
  #about {
    border-radius: 50% 50% 50% 50% / 20% 20% 10% 10%; 
    padding-bottom: 12rem;
  }
  #whoWeAre {
    transform: translateY(-64px); 
    padding: 6rem 16rem 5rem; 
  }
}

@media (min-width: 1800px) {
  #whatWeHave, #mainFocuses {
    transform: translateY(0%);
  }
  div#heroText:has(#mainFocuses) {
    margin-top: 0;
  }
}