            <div id="contact" class="bg-lightblue">
                <div class="container">
                    <div class="d-flex flex-column flex-lg-row align-items-lg-end" style="padding: 9rem 0;">
                        <div class="text-white px-5 ps-lg-0 pe-lg-4">
                            <img src="img/logo-innilabs-white.png" alt="Innilabs" height="110" class="mb-4">
                            <h5 class="fw-bold text-lg-center mb-0">PT CNA Innilabs Indonesia</h5>
                        </div>
                        <div class="text-white px-5 p-lg-0">
                            <p>contact@innilabs.co.id</p>
                            <p class="mb-0">
                                SOHO CAPITAL Podomoro City, 19th Floor,<br>
                                Jl. Letjen. S. Parman Kav. 28, Tanjung Duren Selatan,<br>
                                Grogol Petamburan, Jakarta Barat 11470
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center py-2">
                <span>&copy; 2025 PT CNA Innilabs Indonesia</span>
            </div>
