            <div class="d-flex flex-column justify-content-center mb-5">
                <div class="d-flex justify-content-center my-5 py-3">
                    <img src="img/hero-illustration.png" alt="Hero Illustration" style="max-width: 85vw;">
                </div>
                <div id="heroText" class="mb-5">
                    <div id="mainFocuses" class="d-flex position-absolute animate__animated animate__slideInLeft">
                        <img id="orangeStroke" class="object-fit-cover object-fit-lg-contain me-2" src="img/orange-stroke.png" alt="orange stroke">
                        <h3 class="text-orange text-center display-5 text-chalk"><strong>3 Main<br /> Focuses</strong></h3>
                    </div>
                    <div class="">
                        <h3 class="fw-semibold text-center text-deepblue display-3"><strong>BUILD THE FUTURE WITH US</strong></h3>
                        <p class="text-center text-dark fs-5">We don't just deploy technology. We partner with you to architect the next era of your business.</p>
                    </div>
                </div>
            </div>
