                <div id="products" style="padding-top: 17rem;">
                    <div class="">
                        <div id="whatWeHave" class="position-absolute d-flex justify-content-end w-100 animate__animated animate__slideInRight">
                            <h3 class="text-yellow text-center display-5 text-chalk me-3"><strong>What We Have</strong></h3>
                            <img id="yellowStroke" src="img/yellow-stroke.png" alt="yellow stroke" class="object-fit-cover object-fit-lg-contain" style="object-position: left top;">
                        </div>
                        <h3 class="fw-bold text-center text-deepblue display-5">OUR PRODUCTS</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 p-4">
                                <div class="shadow-sm rounded-5 p-4 h-100">
                                    <div class="">
                                        <div class="d-flex justify-content-center align-items-center bg-thinblue rounded-5 mb-4 w-100" style="height: 250px;">
                                            <img src="img/workraft.png" alt="WORKRAFT">
                                        </div>
                                        <h5 class="fw-bold fs-4">Innilabs Workflow Controller (WORKRAFT)</h5>
                                        <p class="">A MSA component within your IT system that orchestrates and manages the flow of tasks and processes in a predefined sequence. It ensures that tasks are executed in the correct order and handles exceptions or deviations from the expected workflow.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-4">
                                <div class="shadow-sm rounded-5 p-4 h-100">
                                    <div class="">
                                        <div class="d-flex justify-content-center align-items-center bg-thinblue rounded-5 mb-4 w-100" style="height: 250px;">
                                            <img src="img/ilums.png" alt="ILUMS">
                                        </div>
                                        <h5 class="fw-bold fs-4">Innilabs Unified Messaging System (ILUMS)</h5>
                                        <p class="">A comprehensive "Unified Messaging Solution" that can integrate and manage various messaging channels in coordination with administration, public institutions, and corporate CRM systems.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-4">
                                <div class="shadow-sm rounded-5 p-4 h-100">
                                    <div class="">
                                        <div class="d-flex justify-content-center align-items-center bg-thinblue rounded-5 mb-4 w-100" style="height: 250px;">
                                            <img src="img/sailoc.png" alt="SAILOC">
                                        </div>
                                        <h5 class="fw-bold fs-4">Service Application for Innilabs OCR (SAILOC)</h5>
                                        <p class="">SAILOC is an advanced Optical Character Recognition (OCR) service application designed to seamlessly extract, analyze, and process text from images, scanned documents, and handwritten notes. Built with cutting-edge AI and machine learning algorithms to deliver unparalleled accuracy, speed, and versatility.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-4">
                                <div class="shadow-sm rounded-5 p-4 h-100">
                                    <div class="">
                                        <div class="d-flex justify-content-center align-items-center bg-thinblue rounded-5 mb-4 w-100" style="height: 250px;">
                                            <img src="img/apissac.png" alt="API-SSAC">
                                        </div>
                                        <h5 class="fw-bold fs-4">Innilabs API Gateway (API-SSAC)</h5>
                                        <p class="">A powerful MSA component for API Management, which involves organizing, securing, and analyzing your APIs. It helps businesses control how their APIs are accessed and used, ensuring security, performance, and developer satisfaction.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-4">
                                <div class="shadow-sm rounded-5 p-4 h-100">
                                    <div class="">
                                        <div class="d-flex justify-content-center align-items-center bg-thinblue rounded-5 mb-4 w-100" style="height: 250px;">
                                            <img src="img/ildebya.png" alt="ILDEBYA">
                                        </div>
                                        <h5 class="fw-bold fs-4">Innilabs Deployment By Approval (ILDEBYA)</h5>
                                        <p class="">A component as DevOps lifecycle tool, that allows your team to set up approval workflows for changes made to code repositories. This system enables teams to enforce review and approval processes before changes are merged into the codebase, ensuring quality control, compliance, and collaboration among team members.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-4">
                                <div class="shadow-sm rounded-5 p-4 h-100">
                                    <div class="">
                                        <div class="d-flex justify-content-center align-items-center bg-thinblue rounded-5 mb-4 w-100" style="height: 250px;">
                                            <img src="img/aifo.png" alt="AIFO">
                                        </div>
                                        <h5 class="fw-bold fs-4">Artificial Intelligence Framework Objects (AIFO)</h5>
                                        <p class="">These ready-to-use components streamline the creation of AI-driven applications, enabling developers and organizations to focus on innovation rather than reinventing the wheel. We provides the building blocks you need to develop, deploy, and scale cutting-edge AI solutions efficiently.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
