@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
/*body*/
body {
	width:var(--w1);
	height:100vh;
	margin:0;
	padding:0;
	overflow-y: scroll;
	overflow-x: hidden;
	background:#000;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .5vh rgba(0, 0, 0, 0);
    border-radius: .5vh;
    background-color: rgba(0, 0, 0, .05)
}

body::-webkit-scrollbar {
    width: .5vh;
    border-radius: .5vh;
    background-color: rgba(0, 0, 0, .05)
}

body::-webkit-scrollbar-thumb {
    border-radius: .5vh;
    background: linear-gradient(135deg, rgba(0, 210, 255, 1), rgba(0, 120, 180, 1))
}

:root {
	--w1:calc(100vw - .5vh)
}

h1 {
	font-size:10vh;
	line-height:10vh;
}

h2 {
	font-size:8vh;
	line-height:8vh;
}

h2 strong {
	font-weight:600;
}

h3 {
	font-size:6.5vh;
	line-height:6.5vh;
}

h3 strong {
	font-weight:600;
}

h4 {
	font-size:3.25vh;
	line-height:3.25vh;
}

h5 {
	font-size:2.25vh;
	line-height:2.25vh;
}

h6 {
	font-size:2.25vh;
	line-height:2.25vh;
}

p {
	font-size:1.5vh;
	line-height:1.5vh;
}

h1,h2,h3,h4,h5,h6,strong,input,p,a,button {
	margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

a,p {
	text-decoration:none !important;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    -webkit-appearance: textfield;
    background-color: rgba(0, 0, 0, 0);
    -webkit-rtl-ordering: logical;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: none !important;
    border-color: rgba(0, 0, 0, 0);
    border-image: none;
    width: calc(100% - 5vh);
    left: 0;
    position: absolute;
    height: 100%;
    color: white !important;
    opacity: 0.5;
    font: 300 12px lato;
}
input:not([type="image" i]),
textarea {
    box-sizing: border-box;
    color: white !important;
    border-style: none !important;
}
input,
textarea {
    text-rendering: auto;
    color: white !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    font-weight: 300 !important;
    font-size: 12px !important;
    border-style: none !important;
}
input:focus,
textarea:focus {
    outline-offset: -20px;
    color: white !important;
    border-style: none !important;
    opacity: 1;
}
::placeholder {
    color: white !important;
    border-style: none !important;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}

#holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.clear_bc {
    background:linear-gradient(rgba(0,0,0,0) 40%,#fdfeff 80%,#CCD1D6 130%);
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
}

/*images*/
.image-fit {
	width:100%;
	height: 100%;
	object-fit: cover;
}

.big_logo {
	background-image:url('logo_black.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/*Menu*/
.menu {
	width:calc(100vw - 20.5vh);
	background:rgb(240,240,240);
	box-shadow:0 1.25vh 3.75vh rgba(0,0,0,0.1);
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	font-size:0;
	text-align:right;
}

.menu::after {
	content:' ';
	background-image:url('logo_black.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: absolute;
	animation:menu_down .5s 4s forwards ease-out;
	-o-animation:menu_down .5s 4s forwards ease-out;
	-moz-animation:menu_down .5s 4s forwards ease-out;
	-webkit-animation:menu_down .5s 4s forwards ease-out;
	opacity:0;
}

.menu a {
	display: inline-block;
	vertical-align: middle;
	font-family:'outfit',sans-serif;
	color:#323232;
	font-weight:300;
	animation:menu_down .5s 4s forwards ease-out;
	-o-animation:menu_down .5s 4s forwards ease-out;
	-moz-animation:menu_down .5s 4s forwards ease-out;
	-webkit-animation:menu_down .5s 4s forwards ease-out;
	opacity:0;
}
/*one*/
.one {
	width:var(--w1);
	height:50vw;
	position: relative;
	background:rgb(245,245,245);
}

.big_logo {
	position: absolute;
}

/*wide*/
.wide {
	width:var(--w1);
	height:56.25vw;
	position: relative;
	background:rgb(245,245,245);
}

.wide h2 {
	font-family:'outfit', sans-serif;
	font-weight:300;
}

.wide h4 {
	font-size:2.75vh;
	line-height:3.5vh !important;
}

.wide .text {
	padding-top: 20vh;
}


/*three*/
.three {
	width:var(--w1);
	position:relative;
	padding:5vh 0;
	font-size:0;
	z-index:97;
}

.three::before {
	content:' ';
	width:100vw;
	height:200vw;
	background-image: url('bc_door.png');
	background-size:150% auto;
	background-repeat:no-repeat;
	background-position: -30vw 10vw;
	position: absolute;
}

.three h2 {
	padding:8vh 10vh 8vh 15vh;
	background:linear-gradient(135deg,rgb(60,60,60), rgb(10,10,10));
	color:white;
	font-family:'outfit',sans-serif;
	font-weight:400;
	width:fit-content;
	border-radius:0 2.5vh 2.5vh 0;
	box-shadow:0 2.5vh 3.75vh rgba(0, 0, 0,.2);
}

/*four*/
.four {
	width:var(--w1);
	position:relative;
	padding:5vh 0;
	font-size:0;
	z-index:98;
	margin-top: -25vw;
}

.four::before {
	content:' ';
	width:100vw;
	height:200vw;
	background-image: url('bc_cloud.png');
	background-size:150% auto;
	background-repeat:no-repeat;
	position: absolute;
}

/*five*/
.five {
	width:var(--w1);
	position:relative;
	padding:5vh 0;
	font-size:0;
	z-index:97;
	margin-top: -25vw;
	overflow: hidden;
}

.five::before {
	content:' ';
	width:100vw;
	height:200vw;
	background-image: url('bc_patch.png');
	background-size:140% auto;
	background-repeat:no-repeat;
	background-position: 0 -15vw;
	position: absolute;
}

/*footer*/
.footer {
	width:calc(100vw - 20.5vh);
	padding:10vh 10vh 5vh 10vh;
	background:rgb(240,240,240);
	box-shadow:0 -1.25vh 3.75vh rgba(0,0,0,0.1);
	position:relative;
}

.footer h4 {
	font-family:'open sans', sans-serif;
	font-weight:300;
	font-size:4.5vh;
	line-height:4.5vh;
	position: relative;
}

.footer h4::after {
	width:12vh;
	height:3.6vh;
	top:-3vh;
	left:-3.6vh;
	content:' ';
	background-image:url('logo_black.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: absolute;
}

.footer h5 {
	font-family:'outfit', sans-serif;
	font-weight:300;
	margin-top:3.75vh !important;
	line-height:2.75vh;
}

/*label*/

.label {
	padding:8vh 7.5vh 8vh 15vh;
	background:linear-gradient(135deg,rgb(51,225,105), rgb(0,40,100) 15%, rgb(2,10,20) 100%);
	color:white;
	font-family:'outfit',sans-serif;
	font-weight:400;
	width:fit-content;
	border-radius:0 2.5vh 2.5vh 0;
	box-shadow:0 5vh 7.5vh rgba(0, 0, 0,.66);
	z-index:98;
	position:relative;
	margin-top: 25vw;
}

.label h2 {
	color:white;
	font-weight:400;
}

.label h4 {
	margin-top:5vh !important;
	color:white;
	font-weight: 300;
	line-height:4vh;
	font-family:'open sans', sans-serif;
}

/*text*/
.text {
	position: relative;
	font-size:0;
	padding:15vh 15vh 0 15vh;
}

.text h3 {
	font-family:'outfit', sans-serif;
	font-weight:400;
}

.text h4 {
	margin-top:2.5vh !important;
	font-family:'open sans', sans-serif;
	font-weight:300;
	line-height:4vh;
}

.text .box {
	display:inline-block;
	vertical-align:top;
	width:30%;
	margin-bottom:10vh;
}

.text .box:nth-child(2) {
	margin-left:5%;
	margin-right:5%;
}

.text .box:nth-child(5) {
	margin-left:5%;
	margin-right:5%;
}

.text .box h4 {
	font-family: 'outfit', sans-serif;
	color:white;
	font-size:4vh;
	line-height:4.75vh !important;
	font-weight:300;
	margin-top:3.75vh !important;
	height:10vh;
}

.text .box h6 {
	font-family: 'open sans', sans-serif;
	color:white;
	font-weight:300;
	margin-top:3.75vh !important;
	line-height:3vh;
}

.text .box .icon {
	width:12.5vh;
	height:12.5vh;
}


