@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
/*body*/
body {
	width:var(--w1);
	margin:0;
	padding:0;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image:url('full_bc.jpg');
	background-size:100% auto;
	background-repeat:no-repeat;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .5vw rgba(0, 0, 0, 0);
    border-radius: .5vw;
    background-color: rgba(0, 0, 0, .05)
}

body::-webkit-scrollbar {
    width: .5vw;
    border-radius: .5vw;
    background-color: rgba(0, 0, 0, .05)
}

body::-webkit-scrollbar-thumb {
    border-radius: .5vw;
    background: linear-gradient(135deg, rgba(0, 210, 255, 1), rgba(0, 120, 180, 1))
}

h1 {
	font-size:5vw;
	line-height:5vw;
}

h2 {
	font-size:4vw;
	line-height:4vw;
}

h2 strong {
	font-weight:600;
}

h3 {
	font-size:3.25vw;
	line-height:3.25vw;
}

h3 strong {
	font-weight:600;
}

h4 {
	font-size:3.25vw;
	line-height:3.25vw;
}

h5 {
	font-size:2.25vw;
	line-height:2.25vw;
}

h6 {
	font-size:1.25vw;
	line-height:1.25vw;
}

p {
	font-size:1.5vw;
	line-height:1.5vw;
}

h1,h2,h3,h4,h5,h6,strong,input,p,a,button {
	margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

a,p {
	text-decoration:none !important;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    -webkit-appearance: textfield;
    background-color: rgba(0, 0, 0, 0);
    -webkit-rtl-ordering: logical;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: none !important;
    border-color: rgba(0, 0, 0, 0);
    border-image: none;
    width: calc(100% - 5vw);
    left: 0;
    position: absolute;
    height: 100%;
    color: white !important;
    opacity: 0.5;
    font: 300 12px lato;
}
input:not([type="image" i]),
textarea {
    box-sizing: border-box;
    color: white !important;
    border-style: none !important;
}
input,
textarea {
    text-rendering: auto;
    color: white !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    font-weight: 300 !important;
    font-size: 12px !important;
    border-style: none !important;
}
input:focus,
textarea:focus {
    outline-offset: -20px;
    color: white !important;
    border-style: none !important;
    opacity: 1;
}
::placeholder {
    color: white !important;
    border-style: none !important;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}

#holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.clear_bc {
    background:linear-gradient(rgba(0,0,0,0) 40%,#fdfeff 80%,#CCD1D6 130%);
    width:100vw;
    height:100vw;
    position:fixed;
    top:0;
    left:0;
}

/*images*/
.image-fit {
	width:100%;
	height: 100%;
	object-fit: cover;
}

.big_logo {
	background-image:url('logo_black.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/*Menu*/
.menu {
	width:80vw;
	background:rgb(240,240,240);
	box-shadow:0 1.25vw 3.75vw rgba(0,0,0,0.25);
	position:fixed;
	padding:1.5vw 10vw;
	top:0;
	left:0;
	z-index:99;
	font-size:0;
	text-align:right;
}

.menu::after {
	content:' ';
	background-image:url('logo_black.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: absolute;
	width:8vw;
	height:2.4vw;
	top:1vw;
	left:10vw;
}

.menu a {
	display: inline-block;
	vertical-align: middle;
	font-family:'outfit',sans-serif;
	color:#323232;
	font-weight:300;
}

.menu a {
	margin:1vw 0 1vw 2.5vw;
	font-size:1.5vw;
	line-height:1.5vw;
}
/*one*/
.one {
	width:var(--w1);
	height:50vw;
	position: relative;
}

.big_logo {
	top:25vw;
	left:5vw;
	width:50vw;
	height:15vw;
	position: absolute;
}

.phone_banner {
	position:absolute;
	background-image:url('phone-banner_01.png');
	background-size:100% auto;
	background-repeat: no-repeat;
	width:45vw;
	height:45vw;
	top:15vw;
	right:0;
}

/*wide*/
.wide {
	width:var(--w1);
	height:56.25vw;
	position: relative;
	font-size:0;
}

.msa .text {
	display:inline-block;
	vertical-align:top;
	width:40vw;
	padding:10vw 0 0 10vw !important;

}

.msa .phone_banner {
	background-image:url('phone-banner_02.png');
	width:50vw;
	height:50vw;
	top:0;
}

.why_innilabs .text {
	display:inline-block;
	vertical-align:top;
	width:37.5vw;
	padding:7.5vw 0 0 10vw !important;

}

.wide h2 {
	font-family:'outfit', sans-serif;
	font-weight:300;
}

.wide h4 {
	font-size:1.5vw;
	line-height:2vw !important;
}

.wide .text {
	padding-top: 5vw;
}


/*three*/
.three {
	width:var(--w1);
	position:relative;
	padding:5vw 0;
	font-size:0;
	z-index:97;
}

.three::before {
	content:' ';
	width:100vw;
	height:200vw;
}

.three h2 {
	padding:3vw 4vw 3vw 10vw;
	background:linear-gradient(135deg,rgb(60,60,60), rgb(10,10,10));
	color:white;
	font-family:'outfit',sans-serif;
	font-weight:400;
	width:fit-content;
	border-radius:0 1.5vw 1.5vw 0;
	box-shadow:0 2.5vw 3.75vw rgba(0, 0, 0,.2);
}

/*four*/
.four {
	width:var(--w1);
	position:relative;
	padding:5vw 0;
	font-size:0;
	z-index:98;
	margin-top: -25vw;
}

.four::before {
	content:' ';
	width:100vw;
	height:200vw;
}

/*five*/
.five {
	width:var(--w1);
	position:relative;
	padding:5vw 0;
	font-size:0;
	z-index:97;
	margin-top: -25vw;
	overflow: hidden;
}

.five::before {
	content:' ';
	width:100vw;
	height:200vw;
}

/*footer*/
.footer {
	width:80vw;
	padding:5vw 10vw 2.5vw 10vw;
	background:rgb(240,240,240);
	box-shadow:0 -1.25vw 3.75vw rgba(0,0,0,0.25);
	position:relative;
}

.footer h4 {
	font-family:'open sans', sans-serif;
	font-weight:300;
	font-size:2.5vw;
	line-height:2.5vw;
	position: relative;
}

.footer h4::after {
	width:6vw;
	height:1.8vw;
	top:-1.6vw;
	left:-1.8vw;
	content:' ';
	background-image:url('logo_black.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: absolute;
}

.footer h5 {
	font-family:'outfit', sans-serif;
	font-weight:300;
	margin-top:1.75vw !important;
	line-height:1.5vw;
	font-size:1.25vw;
}

/*label*/

.label {
	padding:3vw 4vw 3vw 10vw;
	background:linear-gradient(135deg,rgb(51,225,105), rgb(0,40,100) 15%, rgb(2,10,20) 100%);
	color:white;
	font-family:'outfit',sans-serif;
	font-weight:400;
	width:fit-content;
	border-radius:0 1.5vw 1.5vw 0;
	box-shadow:0 5vw 7.5vw rgba(0, 0, 0,.66);
	z-index:98;
	position:relative;
	margin-top: 25vw;
}

.label h2 {
	color:white;
	font-weight:400;
}

.label h4 {
	margin-top:1vw !important;
	color:white;
	font-weight: 300;
	font-size:1.5vw;
	line-height:2vw;
	font-family:'open sans', sans-serif;
}

/*text*/
.text {
	position: relative;
	font-size:0;
	padding:5vw 10vw 0 10vw;
}

.text h3 {
	font-family:'outfit', sans-serif;
	font-weight:400;
}

.text h4 {
	margin-top:2.5vw !important;
	font-family:'open sans', sans-serif;
	font-weight:300;
	line-height:4vw;
}

.text .box {
	display:inline-block;
	vertical-align:top;
	width:30%;
	margin-bottom:5vw;
}

.text .box:nth-child(2) {
	margin-left:5%;
	margin-right:5%;
}

.text .box:nth-child(5) {
	margin-left:5%;
	margin-right:5%;
}

.text .box h4 {
	font-family: 'outfit', sans-serif;
	color:white;
	font-size:2vw;
	line-height:2.5vw !important;
	font-weight:300;
	margin-top:2.25vw !important;
	height:5vw;
}

.text .box h6 {
	font-family: 'open sans', sans-serif;
	color:white;
	font-weight:300;
	margin-top:2.5vw !important;
	line-height:1.75vw;
}

.text .box .icon {
	width:5vw;
	height:5vw;
}


